@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Playball&family=Rubik+Burned&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap'); */


/* ---------------------------------------------------------------------------------------------------------------------------------- */


* {
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'PT Sans', sans-serif; */
    color: black;
    cursor: context-menu;
    user-select: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* ---------------------- PREMIERE PARTIE - LE MENU ---------------------- */

header.header {
    display: flex;
    background-color: transparent;
    padding: 0;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0px;
    transition: .4s;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

/* ------------------- */
a.logo {
    width: 70px;
    height: 70px;
}

a.logo img {
    width: 70px;
    height: 70px;
    transition: .4s;
    cursor: pointer;
}

a.logo img:hover {
    transform: scale(0.9);
}

/* --------------------- */
nav {
    top: 0;
    display: flex;
}

nav.nav-menu a {
    color: rgb(0, 0, 0);
    transition: .4s;
    font-weight: 800;
    cursor: pointer;
    font-size: 1.5em;
}

nav.nav-menu a::after {
    display: block;
    float: right;
    color: rgb(0, 0, 0);
    content: "";
    width: 0%;
    height: 0.1px;
    background: rgb(0, 0, 0);
    transition: width 0.4s ease-in-out;
}

nav.nav-menu a:hover {
    color: #558ABB;
}

nav.nav-menu a:hover::after {
    width: 100%;
}

nav.nav-menu li {
    padding: 0 20px;
    transition: 0.4s;
    height: 100%;
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */

section.accueil {
    background-image: url(../images/1.jpg);
    background-size: cover;
    height: 100vh;
}

div.containeraccueil {
    background-color: rgba(240, 248, 255, 0.5);
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -50%;
    animation: bbb 2s forwards;
}

@keyframes bbb {
    100% {
        margin-left: 0;
    }

}

div.photop {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    background-image: url(../images/memoji.PNG);
    background-size: contain;
    margin-bottom: 20px;
}

div.contenuaccueil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.contenuaccueil h1 {
    font-size: 4.5em;
    text-align: center;
}

div.contenuaccueil span::before {
    content: "curieux";
    animation: words 5s infinite;
    transform: translateY(30px);

}

@keyframes words {
    25% {
        content: "déterminé";
    }

    50% {
        content: "perséverant";
    }

    75% {
        content: "motivé";
    }
}

i.slide {
    border: solid 2.5px black;
    border-radius: 50px;
    padding: 15px 5px 15px 5px;
    font-size: 1.5em;
    margin-top: 30px;
    transform: translateY(25px);
    animation: 6s translate infinite;
}

@keyframes translate {
    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(25px);
    }
}






/* ---------------------- DEUXIEME PARTIE - LE CONTENU ---------------------- */

section.section {
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

section h1.titresection {
    padding: 40px 0 5px 0;
    font-size: 2.5em;
}

section h1.titresection::before {
    content: "";
    position: absolute;
    background-color: #558ABB;
    width: 50px;
    height: 5px;
    bottom: 0;
}


/*----------------------- A PROPOS  ------------------------*/

section.apropos {
    background: #dddddd
}

div.apropos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding-top: 10px; */
}

/* ---------------------- */

div.portrait {
    width: 259.35px;
    height: 404.3px;
    background-image: url(../images/portrait.png);
    background-size: contain;
    margin-right: 60px;
    border-radius: 10px;
}

div.txtapropos {
    padding: 25px;
    width: 45%;
    margin-left: 60px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
}

div.txtapropos p {
    text-align: justify;
    font-size: 1.5em;
    margin: 0;
}

/*----------------------- PARCOURS ------------------------*/

section.parcours {
    background: #ffffff;
    min-height: 150vh;

}

div.parcours {
    width: 100%;
    height: auto;
    /* min-height: 1000px; */
    position: relative;
    /* padding: 30px 0 0; */
}

/* ------------------------- */


div.ligne {
    height: 760px;
    width: 5px;
    margin: 0px auto;
    background: #dddddd;
}

div.rond {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid #dddddd;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

div.r1 {
    top: 0px;
    background-image: url(../images/parcours/elearning.jpg);
    background-size: contain;
}

div.r2 {
    top: 250px;
    background-image: url(../images/parcours/sio.jpg);
    background-size: contain;
}

div.r3 {
    top: 500px;
    background-image: url(../images/parcours/mei.jpg);
    background-size: contain;
}

div.r4 {
    top: 750px;
    background-image: url(../images/parcours/college.jpeg);
    background-size: contain;
}

div.containerbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    /* margin-top: 50px; */
    left: 50%;
    transform: translate(-100%);
}

div.box {
    color: rgb(0, 0, 0);
    width: 300px;
    height: 160px;
    transform: translate(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 95px;
}

div.b1 {
    text-align: right;
    margin-left: -170%;
}

div.b2 {
    text-align: left;
    margin-left: +170%;
}

div.b3 {
    text-align: right;
    margin-left: -170%;
}

div.b4 {
    text-align: left;
    margin-left: +170%;
}

div.box h2 {
    font-size: 2.2em;
    margin: 5px;
    font-weight: 900;
}

div.box p {
    font-size: 1.8em;
}

/*----------------------- SKILLS ------------------------*/

section.skills {
    background: #dddddd;
}

div.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* ------------------------------ */

div.boxskills {
    padding: 10px;
    background-color: #ffffff;
    width: 400px;
    height: 420px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    box-shadow: -1px 64px 37px -61px rgba(0, 0, 0, 0.55);
}

div.boxskills h4 {
    font-size: 1.8em;
    margin: 0;
}

div.boxskills p {
    margin: 0 0 10px 0;
    font-size: 1.5em;
}

div.progressbar {
    background: #dddddd;
    color: #FFF;
    margin: 10px 0;
    border-radius: 10px;
    height: 1px;
    width: 90%;
    /* padding: 0 20px 0 20px; */
}

div.bar {
    background: #558ABB;
    border-radius: 10px;
    height: 1px;
    box-shadow: 0px 0px 5px 0.5px #558ABB;
}

div.containercv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}

div.containercv button {
    border: none;
    width: 150px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    font-weight: 900;
    cursor: pointer;
    transition: .4s;
}

div.containercv button:hover {
    background-color: black;
    color: white;
    scale: 0.95;
    box-shadow: -1px 20px 15px -15px #000000;
}

/*----------------------- EXPERIENCE PRO ------------------------*/

section.xppro {
    background: #ffffff;
}

div.experiencepro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.boxstage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 250px;
    background-color: #dddddd;
    border-radius: 10px;
    margin: 10px 20px;
    box-shadow: -1px 64px 37px -61px rgba(0, 0, 0, 0.55);
}

div.boxstage button {
    border: none;
    width: 150px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    font-weight: 900;
    cursor: pointer;
    transition: .4s;
}

div.boxstage button:hover {
    background-color: black;
    color: white;
    box-shadow: -1px 20px 15px -15px #000000;
    scale: 0.95;
}

div.boxstage p {
    margin: 0 0 10px 0;
}

/*----------------------- PROJETS ------------------------*/

section.projets {
    background: #dddddd;
}

div.projet {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    /* margin-top: -5px; */
}

/* ---------------------- */

div.tritag button {
    margin: 10px;
    padding: 5px 12px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: .4s;
}

div.tritag button:hover {
    background-color: black;
    color: white;
    scale: 0.95;
}

div.containerprojet {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 260px;
    margin: 15px;
    border-radius: 10px;
}



div.card {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 67%;
    position: relative;
    overflow: hidden;
}

div.card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.92);
    margin-left: -50%;
}

div.card div.img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

div.card div.img span {
    width: 25%;
    height: 100%;
    transition: 0.5s;
    z-index: 0;
}

div.card div.img span:nth-child(1) {
    transition-delay: 0s;
    background-position: 0;
}

div.card div.img span:nth-child(2) {
    transition-delay: 0.1s;
    background-position: 33.33%;
}

div.card div.img span:nth-child(3) {
    transition-delay: 0.2s;
    background-position: 66.66%;
}

div.card div.img span:nth-child(4) {
    transition-delay: 0.3s;
    background-position: 100%;
}

div.card:hover div.img>span {
    transform: translateY(-100%);
}

div.content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

div.content h3,
div.content i,
div.content p {
    color: #ffffff;
    font-weight: 500;
    margin: 5px;
}

div.content p {
    font-size: 1.3em;
}

div.content i {
    transition: .4s;
    cursor: pointer;
}

div.content i:hover {
    scale: 1.5;
    transform: rotate(360deg);
}

/* ------------------------------------------------------------------------------------------------------ */


button.modal-btn {
    background: none;
    border: none;
}

button.modal-btn i {
    background: none;
    border: none;
    cursor: pointer;
}

div.modal-container,
div.modal-container2,
div.modal-container3,
div.modal-container4,
div.modal-container5,
div.modal-container6,
div.modal-container7,
div.modal-container8,
div.modal-container9,
div.modal-container10,
div.modal-container11 {
    visibility: hidden;
    /* display: none; */
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility .4s;
}

div.modal-container.active,
div.modal-container2.active2,
div.modal-container3.active3,
div.modal-container4.active4,
div.modal-container5.active5,
div.modal-container6.active6,
div.modal-container7.active7,
div.modal-container8.active8,
div.modal-container9.active9,
div.modal-container10.active10,
div.modal-container11.active11 {
    /* display: block; */
    visibility: visible;
}

div.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000d3;
    transition: opacity 0.4s 0.2s ease-out;
}

div.modal-container.active .overlay,
div.modal-container2.active2 .overlay,
div.modal-container3.active3 .overlay,
div.modal-container4.active4 .overlay,
div.modal-container5.active5 .overlay,
div.modal-container6.active6 .overlay,
div.modal-container7.active7 .overlay,
div.modal-container8.active8 .overlay,
div.modal-container9.active9 .overlay,
div.modal-container10.active10 .overlay,
div.modal-container11.active11 .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

div.modal {
    opacity: 0;
    width: 45%;
    height: 70%;
    padding: 30px;
    background: #ffffff;
    border-radius: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity .4s ease-out, transform .4s ease-out;
}

@media screen and (max-width: 1080px) {
    div.modal {
        width: 80%;
    }
}



div.modal-container.active .modal,
div.modal-container2.active2 .modal,
div.modal-container3.active3 .modal,
div.modal-container4.active4 .modal,
div.modal-container5.active5 .modal,
div.modal-container6.active6 .modal,
div.modal-container7.active7 .modal,
div.modal-container8.active8 .modal,
div.modal-container9.active9 .modal,
div.modal-container10.active10 .modal,
div.modal-container11.active11 .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity .4s .2s ease-out, transform .4s .2s ease-out;
}

button.close-modal {
    padding: 8px;
    border: none;
    font-size: 2.5em;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
}

button.close-modal i {
    cursor: pointer;
    transition: .9s;
}

button.close-modal i:hover {
    scale: 1.2;
    transform: rotate(360deg);
}

/* ------------------------------ STYLE DES MODALS ------------------------------ */


div.contenumodal {
    height: 80%;
    overflow: hidden;
}

div.contenumodal p {
    padding: 20px;
    text-align: justify;
    font-size: 1.5em;
    height: 500px;
    overflow: auto;
}

div.contenumodal p::-webkit-scrollbar {
    background-color: transparent;
}

div.contenumodal a {
    cursor: pointer;
    font-style: italic;
    font-weight: 600;
    transition: .4s;
}

div.contenumodal a:hover {
    color: #558ABB;
}

div.imgmodal {
    background-size: contain;
    width: 32em;
    height: 18em;
    background-color: #333;
}

/* ------------------------------ STYLE MODAL 1 ------------------------------ */


/* ------------------------------ STYLE MODAL 2 ------------------------------ */


/* ------------------------------ STYLE MODAL 3 ------------------------------ */


/* ------------------------------ STYLE MODAL 4 ------------------------------ */


/* ------------------------------ STYLE MODAL 5 ------------------------------ */


/* ------------------------------ STYLE MODAL 6 ------------------------------ */


/* ------------------------------ STYLE MODAL 7 ------------------------------ */

/* ---------------------------- */


div.card:hover div.content {
    transform: translateY(0%);
    transition: 1s;
    transition-delay: 0.1s;
}

div.titre {
    width: 100%;
    height: 33%;
    /* padding-top: 5px; */
    font-weight: 900;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

div.titre h2 {
    margin: 0;
    padding: 0;
}

div.tag span {
    padding: 0 10px 0 10px;
    font-size: 1.3em;
    margin: 0 10px 0 10px;
    border-radius: 4px;
}

button.btnresp {
    display: none;
}


/* ---------------------- */

.projet1 .img span {
    background: url(../images/images_projet/projet_1.png);
}

.projet2 .img span {
    background: url(../images/images_projet/projet_2.png);
}

.projet3 .img span {
    background: url(../images/images_projet/projet_3.jpg);
}

.projet4 .img span {
    background: url(../images/images_projet/projet_4.jpg);
}

.projet5 .img span {
    background: url(../images/images_projet/projet_5.png);
}

.projet6 .img span {
    background: url(../images/images_projet/projet_6.jpg);
}

.projet7 .img span {
    background: url(../images/images_projet/projet_7.png);
}

.projet8 .img span {
    background: url(../images/images_projet/projet_8.jpg);
}

.projet9 .img span {
    background: url(../images/images_projet/projet_9.png);
}

.projet10 .img span {
    background: url(../images/images_projet/projet_10.png);
}

.projet11 .img span {
    background: url(../images/images_projet/projet_11.png);
}

/* --------- */

.projet1 {
    background: url(../images/images_projet/projet_1.png);
}

.projet2 {
    background: url(../images/images_projet/projet_2.png);
}

.projet3 {
    background: url(../images/images_projet/projet_3.jpg);
}

.projet4 {
    background: url(../images/images_projet/projet_4.jpg);
}

.projet5 {
    background: url(../images/images_projet/projet_5.png);
}

.projet6 {
    background: url(../images/images_projet/projet_6.jpg);
}

.projet7 {
    background: url(../images/images_projet/projet_7.png);
}

.projet8 {
    background: url(../images/images_projet/projet_8.jpg);
}

.projet9 {
    background: url(../images/images_projet/projet_9.png);
}

.projet10 {
    background: url(../images/images_projet/projet_10.png);
}

.projet11 {
    background: url(../images/images_projet/projet_11.png);
}




/*----------------------- CONTACT ------------------------*/

section.contact {
    background: #ffffff;
}

div.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 10px 0; */
}

/* ------------------------ */

div.containercarres {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    float: left;
    align-content: center;
    margin-right: -45px;
    z-index: 1;

}

div.carre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 170px;
    height: 170px;
    margin: 8px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.69);
    transition: .4s;
}

div.carre:hover {
    background-color: #dddddd;
}

div.carre p,
div.carre i {
    transition: .4s;
    cursor: pointer;
}

div.carre:hover p,
div.carre:hover i {
    Color: rgb(255, 255, 255);
}


div.carre i {
    font-size: 4em;
}

div.carre a {
    font-size: 1.3em;
    font-weight: 900;
    cursor: pointer;
}


/* ----------------------- */

div.containerform {
    background-color: #dddddd;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.69);
    width: 490px;
    height: 470px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

form.leformulairecontact {
    margin-right: -40px;
}

form.leformulairecontact input {
    margin: 5px;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    /* box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.9); */
    cursor: text;
}

form.leformulairecontact textarea {
    margin: 5px;
    height: 90px;
    width: 300px;
    border: none;
    border-radius: 5px;
    resize: initial;
    padding: 5px;
    outline: none;
    /* box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.9); */
    cursor: text;
}

form.leformulairecontact button {
    background-color: #ffffff;
    border: none;
    margin: 5px;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    cursor: pointer;
    font-weight: 900;
}

form.leformulairecontact input::placeholder,
form.leformulairecontact textarea::placeholder {
    font-weight: 700;
}

form.leformulairecontact button:hover {
    background-color: black;
    color: white;
    box-shadow: -1px 20px 15px -15px #000000;
    scale: 0.95;
}

div.close {
    margin-top: 10px;
}

div.close a {
    border: none;
    background-color: green;
    color: #ddd;
    font-weight: 900;
    cursor: pointer;
    border-radius: 5px;
    transition: .4s;
    padding: 5px 10px;
}

div.close a:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.51);
    font-weight: 900;
}

div.success {
    margin-top: 10px;
    text-align: center;
    color: rgba(0, 255, 0, 0.5);
    animation: .5s cubic-bezier(.42, -0.48, .64, 1.38) colorsuccess infinite;
    font-size: 1.8em;
}

@keyframes colorsuccess {
    50% {
        color: rgb(0, 255, 0);
        font-weight: 900;
    }

    100% {
        color: rgba(0, 255, 0, 0.5);
    }
}

div.failed {
    margin-top: 10px;
    text-align: center;
    color: rgb(255, 0, 0, 0.5);
    animation: .5s colorfailed infinite;
    font-size: 1.8em;
}

@keyframes colorfailed {
    50% {
        color: rgb(255, 0, 0);
    }

    100% {
        color: rgba(255, 0, 0, 0.5);
    }
}

/*------------------------------------------------ LE FOOTER ------------------------------------------------*/
footer {
    background-color: #dddddd;
    bottom: 0;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

section.footer {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

section.footer p {
    font-size: 1.3em;
}

div.socialmedia a {
    margin: 0 10px;
}

div.socialmedia i {
    font-size: 2.5em;
    transition: .4s;
    cursor: pointer;
}

div.socialmedia i:hover {
    transform: rotate(360deg);
}

section.footer p {
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}


/*----------------------- FONCTIONNEL ------------------------*/
i.remonte {
    font-size: 3.5em;
    position: fixed;
    bottom: -100px;
    right: 0;
    margin: 20px;
    padding: 0;
    transition: .4s cubic-bezier(.31, -1.23, .47, 2.12);
    cursor: pointer;
}

i.remonte:hover {
    color: #558ABB;
    scale: 1.2;
}

/* ---------------------------- */

[class*="reveal-"] {
    opacity: 0;
    transform: scale(0.75);
}

.reveal-visible {
    opacity: 1;
    transform: scale(1);
    transition: 1s ease-in-out;
}

.reveal-2 {
    transition-delay: .2s;
}

.reveal-3 {
    transition-delay: .4s;
}

.reveal-4 {
    transition-delay: .6s;
}

.reveal-5 {
    transition-delay: .8s;
}

/* -------------------------------------------------------------- MEDIA QUERY -------------------------------------------------------------- */

.hamburger {
    display: none;
}


@media screen and (max-width: 1080px) {
    * {
        font-family: 'Nunito', sans-serif;
        /* font-family: 'Poppins', sans-serif; */
        /* font-family: 'Raleway', sans-serif; */
        /* font-family: 'Ubuntu', sans-serif; */
        /* font-family: 'PT Sans', sans-serif; */

    }

    div.loader {
        display: flex;
        flex-direction: column;
    }

    span.lettre {
        margin: 0 0 5px;
    }

    nav {
        padding: 15px 20px;
        position: relative;
    }

    nav.nav-menu li {
        height: 7%;
    }

    .nav-logo {
        order: 2;
        margin: 0 auto;
    }

    .main-navlinks {
        order: 1;
    }


    /* Hamburger */
    .hamburger {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        background: transparent;
        align-items: center;
        position: relative;
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: #333;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
        border-radius: 30%;
    }

    .hamburger span:nth-child(1),
    .hamburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }

    .hamburger span:nth-child(1) {
        transform: translateY(7px);
    }

    .hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }

    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }

    .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: #fafafa;
        top: 100%;
        left: 0;
        height: 100vh;
        padding: 15px 0 10px 2px;
        border-right: 1px solid #c5c5c6;
        transform: translate(-100%);
        border-radius: 0 15px 0 0;
    }

    .open {
        transform: translate(0%);
    }

    .nav-menu a {
        font-size: 1.8em;
        margin: 10px 0
    }

    /* ----------------- */
    section.parcours {
        background: #ffffff;
        min-height: 160vh;
    }

    div.apropos {
        display: flex;
        flex-direction: column;
    }

    div.apropos {
        display: flex;
        flex-direction: column;
    }

    div.portrait {
        margin: 0 0 10px 0;
        width: 129.675px;
        height: 202.15px;
    }

    div.txtapropos {
        margin: 0 0 10px 0;
        width: 80%;
    }

    i.remonte {
        font-size: 2em;
        position: fixed;
        bottom: -100px;
        right: 0;
        margin: 5px;
        padding: 0;
        transition: .4s cubic-bezier(.31, -1.23, .47, 2.12);
        cursor: pointer;
    }

    div.contenumodal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button.btnresp {
        position: absolute;
        top: 30%;
        display: block;
        border: none;
        background-color: #dddddd;
        border-radius: 5px;
        font-weight: 900;
        font-size: 1.5em;
        padding: 5px 20px;
        box-shadow: 0px 0px 12px 0px rgb(0, 0, 0);
        cursor: pointer;
        margin: 5px 0;
    }

    div.card div.img {
        filter: contrast(0.5);
    }

    div.card:hover div.img>span {
        transform: translateY(0%);
    }

    div.card:hover div.content {
        transform: translateY(0);
        transition: 0s;
        transition-delay: 0s;
    }

    div.content {
        display: none;
    }

    div.imgportfolio {
        background-image: url(../images/images_projet/captureportfolio.png);
        background-size: cover;
        width: 16rem;
        height: 9rem;

    }

    div.boxskills {
        height: auto;
    }



}

@media screen and (max-width: 800px) {
    * {
        font-family: 'Nunito', sans-serif;
        /* font-family: 'Poppins', sans-serif; */
        /* font-family: 'Raleway', sans-serif; */
        /* font-family: 'Ubuntu', sans-serif; */
        /* font-family: 'PT Sans', sans-serif; */

    }

    section.section {
        overflow: hidden;
        width: 100%;
        padding: 0 0 20px 0;
    }

    section.accueil {
        background-image: url(../images/1_resp.jpg);
        background-size: cover;
        height: 100vh;
    }

    section.parcours {
        height: 140vh;
    }

    div.photop {
        width: 80px;
        height: 80px;
        border-radius: 100px;
        background-image: url(../images/memoji.PNG);
        background-size: contain;
        margin-bottom: 10px;
    }

    div.containeraccueil {
        height: 100vh;
        width: 100%;
    }

    div.contenuaccueil h1 {
        font-size: 2.5em;
        margin: 0;
    }

    div.contenuaccueil h2 {
        font-size: 2em;
    }

    i.slide {
        border: solid 1.5px black;
        border-radius: 50px;
        padding: 10px 2.5px 7.5px 2.5px;
        font-size: 1em;
        margin-top: 0;
        transform: translateY(12.5px);
        animation: 6s translate infinite;
    }

    @keyframes translate {
        50% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(12.5px);
        }
    }

    div.box {
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    div.box p {
        margin: 10px 0;
    }

    div.containerbox {
        right: 0;
    }

    div.ligne {
        height: 760px;
        width: 5px;
        left: 0;
        margin: 30px 0 0 14%;
        background: #dddddd;
    }

    div.rond {
        width: 85px;
        height: 85px;
        border: 2.5px solid #dddddd;
        position: absolute;
        left: 0;
        margin-left: 14%;
    }

    div.parcours {
        padding: 0;
    }


    div.b2 {
        margin: 55px 0;
    }

    div.b3 {
        margin: 55px 0;
    }

    div.b4 {
        margin: 55px 0;
    }

    div.skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.boxskills {
        width: 90%;
        min-height: 200px;
    }

    div.experiencepro {
        display: flex;
        flex-direction: column;
    }

    div.projet {
        display: flex;
        flex-direction: column;
    }

    div.contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.containercarres {
        width: 50%;
        margin-right: 0;
    }

    div.containerform {
        width: 90%;
        height: 360px;
        margin-top: 15px;
    }

    form.leformulairecontact input,
    form.leformulairecontact textarea,
    form.leformulairecontact button {
        width: 70%;
        height: 25px;
        margin: 5px;
        border: none;
    }

    form.leformulairecontact button {
        width: 40%;
    }

    form.leformulairecontact {
        margin: 0;

    }
}



@media screen and (min-width: 800px) and (max-width: 1080px) {
    * {
        font-family: 'Nunito', sans-serif;
        /* font-family: 'Poppins', sans-serif; */
        /* font-family: 'Raleway', sans-serif; */
        /* font-family: 'Ubuntu', sans-serif; */
        /* font-family: 'PT Sans', sans-serif; */

    }

    section.section {
        overflow: hidden;
        width: 100%;
        padding: 0;
    }

    section.accueil {
        background-image: url(../images/1.jpg);
        background-size: cover;
        height: 38vh;
    }

    div.photop {
        width: 70px;
        height: 70px;
        border-radius: 100px;
        background-image: url(../images/memoji.PNG);
        background-size: contain;
        margin: 5px 0;
    }

    div.containeraccueil {
        background-color: rgba(240, 248, 255, 0.5);
        height: 38vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -50%;
        animation: bbb 2s forwards;
    }

    div.contenuaccueil {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.contenuaccueil h1 {
        font-size: 1.8em;
    }

    div.contenuaccueil h2 {
        font-size: 1.3em;
    }

    div.contenuaccueil span::before {
        content: "curieux";
        animation: aaa 5s infinite;
        transform: translateY(30px);

    }

    i.slide {
        border: solid 1.5px black;
        padding: 10px 4px 10px 4px;
        font-size: 0.75em;
        margin-top: 5px;
        transform: translateY(10px);
        animation: 6s translate infinite;
    }

    @keyframes translate {
        50% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(10px);
        }
    }

    div.skills {
        display: grid;
        grid-template-columns: auto auto;
    }

    div.boxskills {
        width: 320px;

    }

    div.projet {
        display: grid;
        grid-template-columns: auto auto;
    }

}